<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flutter_webview_plugin">
    <application>
        <activity
            android:name="com.ali.auth.third.ui.LoginActivity"
            android:theme="@style/LaunchTheme"
            tools:replace="android:theme"
            ></activity>
    </application>
</manifest>
